@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --color-primario-100: #609ED4;
    --color-primario-200: #356EA9; 
    --color-primario-300: #0A3871;
    --color-primario-400: #072B61;
    --color-primario-500: #052051;

    --color-secundario-100: #F3F5FC;
    --color-secundario-200: #EFF1FA; 
    --color-secundario-300: #E9ECF8;
    --color-secundario-400: #AAB2D5;
    --color-secundario-500: #757FB2;

    --color-terciario-100: #CED4DA;
    --color-terciario-200: #ADB5BD;
    --color-terciario-300: #868E96;
    --color-terciario-400: #485057;
    --color-terciario-500: #343A40;

    --fuente-inter: "Inter", sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

/* Estilos generales */
* {
    padding: 0;
    margin:0;
}

.botones {
    width: 328px;
    padding: 20px;
    font-family: var(--fuente-inter);
    font-size: 16px;
    border-radius: 24px;
    margin-bottom: 52px;
}

body {
    background-color: var(--color-secundario-100);
}

.contenido {
    display: grid;
    grid-template-areas: "entrada_texto salida_texto";
    grid-template-columns: 2fr 1fr;
}

/* Estilos lado izquierdo (Logo, textarea, aviso restricciones y botones encriptar y desencriptar */
.entrada_texto {
    grid-area: entrada_texto;
    margin: 0 40px;
    display: flex;
    flex-direction: column;
}

.entrada_texto #logo {
    height: 48px;
    margin: 40px 0;
}

.entrada_texto #areaTexto {
    margin-left: 200px;
    resize: none;
    border: none;
    outline: none;
    background-color: var(--color-secundario-100);
    color: var(--color-primario-400);
    font-family: var(--fuente-inter);
    font-size: 32px;
}

.entrada_texto #areaTexto::placeholder {    
    color: var(--color-primario-400);
    font-family: var(--fuente-inter);
    font-size: 32px;
}

.entrada_texto .entrada_texto_info {
    margin-left: 200px;
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--color-terciario-400);
    font-family: var(--fuente-inter);
    font-size: 12px;
}

.entrada_texto .entrada_texto_info #icono_info {
    height: 16px;
}

.entrada_texto .entrada_texto_botones {
    margin: 16px 0 0 200px;
    display: flex;
    gap: 24px;
}

.entrada_texto .entrada_texto_botones #boton_encriptar {
    color: var(--color-secundario-100); 
    border-color: var(--color-primario-400);
    background-color: var(--color-primario-300);
}

.entrada_texto .entrada_texto_botones #boton_encriptar:hover {
    color: var(--color-secundario-100); 
    background-color: var(--color-primario-200);
}

.entrada_texto .entrada_texto_botones #boton_desencriptar  {
    border-color: var(--color-primario-300);
    background-color: var(--color-secundario-300);
    color: var(--color-primario-300);
}

.entrada_texto .entrada_texto_botones #boton_desencriptar:hover {
    background-color: var(--color-secundario-100);
}

/* Estilos lado derecho (Mensaje mensaje no hallado y resultado) */
.salida_texto {
    grid-area: salida_texto;
    margin: 40px 40px 20px 40px;
    padding: 32px;
    border-radius: 32px;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.salida_texto .salida_texto_vacio {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 16px;
}

.salida_texto .salida_texto_error {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 16px;
}

.salida_texto .mensaje_titulo {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: #343A40;
}

.salida_texto .mensaje_descripcion {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #343A40;
}

.salida_texto .salida_texto_resultado {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.salida_texto .salida_texto_resultado #resultado {
    font-family: var(--fuente-inter);
    font-size: 20px;
}

.salida_texto .salida_texto_resultado #boton_copiar {
    width: 100%;
    margin: 0;
    border-color: var(--color-primario-300);
    background-color: var(--color-secundario-100);
    color: var(--color-primario-300);
}

.salida_texto .salida_texto_resultado #boton_copiar:hover {
    background-color: var(--color-secundario-200);
}

.salida_texto .ocultar {
    display: none;
}

/* Footer */
footer {
    padding: 40px 0;
    background-color: #0A3871;
    color: var(--color-secundario-100);
    font-family: var(--fuente-inter);
    font-size: 20px;
    text-align: center;
}